body {
    background-color: #404040;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.col {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.button-wrapper {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

button {
    padding: 5px;
}

.margin-left {
    margin-left: 5px;
}

.label {
    color: white;
    margin: auto;
    margin-left: 5rem;
}

.tile {
    font-size: medium;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 10%;
    width: 50px;
    height: 50px;
    margin: 3px;
    padding-right: 4px;
    padding-bottom: 4px;
    background-color: green;
}

.tile-b {
    font-size: medium;
    text-align: right;
    color: rgba(255, 255, 255, 0.5);
    border-radius: 10%;
    width: 50px;
    height: 50px;
    margin: 3px;
    padding-right: 4px;
    padding-bottom: 4px;
    background-color: rgb(1, 71, 1);
}

.player {
    background-color: white;
    color: black;
}

.blocked-tile {
    background-color: black;
}

.num-input {
    width: 35px;
    padding: 5px;
    margin-right: 5px;
}

.visited {
    background-color: rgb(112, 9, 112);
    color: rgba(255, 255, 255, 0.5);
}

.vl {
    border-left: 4px solid white;
    height: 50px;
    position: relative;
    left: 53%;
    margin-left: -2px;
    margin-top: -18px;
    top: 0;
}

.hl {
    border-bottom: 4px solid white;
    width: 54px;
    position: relative;
    margin-top: 6px;
    top: 0;
}

.down-right {
    border-bottom: 4px solid white;
    border-left: 4px solid white;
    width: 25px;
    height: 25px;
    position: relative;
    left: 50%;
    top: -37%;
    margin-bottom: -2px;
}

.down-left {
    border-bottom: 4px solid white;
    border-right: 4px solid white;
    width: 25px;
    height: 25px;
    position: relative;
    top: -37%;
    margin-bottom: -2px;
}

.up-right {
    border-top: 4px solid white;
    border-left: 4px solid white;
    width: 25px;
    height: 25px;
    position: relative;
    left: 48%;
    top: 10%;
}

.up-left {
    border-top: 4px solid white;
    border-right: 4px solid white;
    width: 25px;
    height: 25px;
    position: relative;
    top: 10%;
}

.link {
    color: white;
    text-decoration: underline;
    font-weight: bold;
    margin: 1em 0;
    margin-left: 5px;
}

.link:hover {
    color: rgb(201, 201, 201)
}